body {
    background-color: azure;
}

h1 {
    color: aqua;
}

p {
    background-color: gray;
    color: aquamarine;
}

#p1 {
    color: blueviolet;
}

.odd {
    color: red;
}

.even {
    color: blue;
}