#box1 {
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;
    position: static;
}

#box2 {
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: tomato;
    position: static;
    top: 100px;
    left: 100px;

}